//- index.jade
extends ../layout.jade

block head
  title= title

block content
  h1= title
  table
    tr
      th username
      th commentsCount
      th createdAt
      th updatedAt
      th deletedAt
      th isDeleted
      th email
      th confirmed
      
    each user in users
      tr
        td
          a(href="/" + user.username)= user.username
        td= user.commentsCount
        td
          small= moment(user.createdAt).format("DD.MM.YYYY HH:MM:SS")
        td
          small= moment(user.updatedAt).format("DD.MM.YYYY HH:MM:SS")
        td
          if user.deletedAt
            small= moment(user.deletedAt).format("DD.MM.YYYY HH:MM:SS")
        td= user.isDeleted ? 'deleted' : ''
        td= user.email
        td= user.emailConfirmed ? 'confirmed' : ''
        
