//- index.jade
extends ../layout.jade

block head
  title= title

block content
  h1= title
  table
    tr
      th username
      th createdAt
      th updatedAt
      th deletedAt
      th isDeleted
      th commentsCount
    each user in users
      tr
        td
          a(href="/" + user.username)= user.username
        td(title=user.createdAt)= moment(user.createdAt).toNow(true)
        td(title=user.updatedAt)= moment(user.updatedAt).toNow(true)
        td(title=user.deletedAt)= moment(user.deletedAt).toNow(true)
        td= user.isDeleted ? 'deleted' : ''
        td= user.commentsCount
