//- index.jade
extends ../layout.jade

block head
  title= title

block content
  h1= title
  table
    tr
      th username
      th createdAt
      th updatedAt
      th deletedAt
      th isDeleted
    each user in users
      tr
        td
          a(href="/" + user.username)= user.username
        td
          p= user.createdAt
          p= moment(user.createdAt).toNow(true)
        td
          p= user.updatedAt
          p= moment(user.updatedAt).toNow(true)
        td
          p= user.deletedAt
          p= moment(user.deletedAt).toNow(true)
        td= user.isDeleted ? 'deleted' : ''
