//- index.jade
extends ../layout.jade

block head
  title= title

block content
  h1= title
  //- комменты подгружать аяксом в древовидной форме
  //- а кликнув открыть в новом окне - откроется страница с комментарием, 
  //- а под ним, все ответы на него
  //- и у каждого коммента будет написано сколько ответов у него и тд
  //- так получится бесконечная вложенность комментов
  //- и при этом у каждого коммента будет своя страница
  //- и поисковикам будет хорошо и пользователи аяксиком подгрузят все
  //- причем при заходе на страницу коммента - все ответы подгружаются автоматически после загрузки страницы
  //- а уже дальше надо кликать на каждый коммент отдельно и смотреть ответы к нему
  //- это позволит поисковикам видеть только кучу страниц с комментами со ссылками друг на друга
  //- а пользователи будут видеть такой классный интерфейс
  //- а ссылки на эти страницы через sitemap.xml отдавать поисковику
  //- каждый такой коммент будет иметь дату публикации - которая является ссылкой на страницу этого коммента
  //- а так же ссылку на его комменты (которая в браузере будет подгружать из на страницу)
  //- а если кликнуть "показать в новом окне" - то открроется страница с этим комментов
  //- маркдаун прикрутить
  //- на главной новые комменты добавляются наверх (как в фейсбуке)
  //- а в ответах вниз (как комменты)
  //- каждый коммент можно добавить в отслеживаемые 
  //- и тогда, ты будешь получать уведомление обо всех новых ответах к этому комменту
  //- ну и трекер понадобится
  //- или лучше система уведомлений как в фейсбуке или что-то типа того, на очередях например или типа того
  //- при добавлении коммента в очередь ставится задание - отправит уведомление всем подписчикам
  //- еще сделать, чтобы если чувак в теле поста только ссылку написал, 
  //- то распарсивать ее через iframely и показывать с заголовком, картинкой и описанием
  //- таким образом можно будет очень быстро ответить сразу статьей, или кинуть ссылку на репозиторий и тд
  //- как в слаке - удобно же
  //- на каждую страницу коммента добавить метатег со ссылкой на rss ленту в которой все комменты к этой странице
  

  article
    h1 Comment title
    p comment text
    .meta
      a(href="/commment/" + val) 5 comments
    .replies
      each val in [1, 2, 3, 4, 5]
        article
          p comment text
          .meta
            a(href="/commment/" + val) 5 comments

  table
    tr
      th username
      th createdAt
      th updatedAt
      th deletedAt
      th isDeleted
    each user in users
      tr
        td
          a(href="/" + user.username)= user.username
        td
          p= user.createdAt
          p= moment(user.createdAt).toNow(true)
        td
          p= user.updatedAt
          p= moment(user.updatedAt).toNow(true)
        td
          p= user.deletedAt
          p= moment(user.deletedAt).toNow(true)
        td= user.isDeleted ? 'deleted' : ''
