article.commentItem(id="comment_" + comment._id )

  .controls
    if currentUser.can('delete', comment)
      a.js-comment-delete(href="#delete" data-id=comment._id.toString()) delete
  if comment.isDeleted
    .textHtml
      s!= comment.textHtml
  else
    .textHtml!= comment.textHtml
  .meta
    if comment.repliesCount
      a.repliesCount.js-comment-replies(href="/c/" + comment._id data-id=comment._id.toString())
        b= comment.repliesCount
        = " replies"
    
    if currentUser
      a.reply.js-comment-reply(href="#" data-id=comment._id.toString()) reply
      
    a.creator(class=(adminName === comment.creator.username ? "admin" : "") href="/" + comment.creator.username)
      = "@"
      = comment.creator.username
    a.createdAt(href="/c/" + comment._id)= moment(comment.createdAt).toNow(true)
  
    if !comment.parentId.equals(ROOT_PARENT_ID)
      a.parentId(href="/c/" + comment.parentId) parent
  .replies